/*problem: put images of buttons next to eachother.
solution: 
    1. all images must.... float:left;
    2. each image gets a neat compact size in img {}
    3. children 1-3 all are positioned absolutely easy to work with absolute.

*/
.gallery_buttons
{
    width:100%; height:auto;
}

.gallery_buttons img {
        width:auto; height:12%;
        
}
.gallery_buttons :nth-child(1) {
      float: left;
      position: absolute;
      left: 0%;    
}
.gallery_buttons :nth-child(2) {
      float: left;
      position: absolute;
      left: 45%;  
}

.gallery_buttons :nth-child(3) {
      float: left;
      position: absolute;
      right: 0%;
}
